html,
body {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1;
  min-height: 100vh;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
fieldset {
  margin: 0;
  padding: 0;
}

a {
  color: #112f41;
  line-height: 36px;
}

button {
  line-height: 40px;
  font-size: 16px;
  border: 1px solid #333;
  border-radius: 4px;
  outline: none;
}

button.primary {
  color: #fff;
  background-color: #4fb99f;
}

button.accent {
  color: #fff;
  background-color: #112f41;
}

button.success {
  color: #fff;
  background-color: #068587;
}

button.error {
  color: #fff;
  background-color: #ed553b;
}

input,
select {
  font-size: 16px;
  line-height: 30px;
  padding: 0 5px;
  width: 100%;
  outline: none;
  border: 1px solid #333;
  background-color: #fff;
  margin-top: 10px;
}

h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

form button {
  margin-bottom: 10px;
}

fieldset {
  border: none;
  margin-bottom: 16px;
}

legend {
  font-weight: 600;
  text-align: left;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  color: #333;
  padding: 16px;
  min-height: calc(100vh - 44px);
}

#header {
  height: 44px;
  background-color: #4fb99f;
  color: #fff;
}

#header .branding {
  text-align: center;
  line-height: 44px;
  flex-grow: 1;
  font-weight: 600;
}

#header nav {
  line-height: 44px;
}

#header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#header nav li {
  margin: 0 5px;
}

#header button {
  line-height: 30px;
  border: none;
}

#header button a {
  color: #fff;
}

#header a {
  text-decoration: none;
}

.card {
  background-color: #fff;
  padding: 15px 5px;
  border-radius: 5px;
  border: 1px solid #333;
  margin: 5px 0;
}

.card span:first-child {
  border-right: 1px solid #333;
}

tr {
  line-height: 24px;
}

tr:nth-child(odd) {
  background-color: #ddd;
}

.login-form .logo {
  font-size: 10em;
}

/* LAYOUT */

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.fx-row {
  display: flex;
  flex-wrap: wrap;
}

.fx-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.fx-row.jc,
.fx-col.jc {
  justify-content: center;
}

.fx-row.between,
.fx-col.between {
  justify-content: space-between;
}

.fx-row.around,
.fx-col.around {
  justify-content: space-around;
}

.fx-row.ac,
.fx-col.ac {
  align-items: center;
}

.col {
  width: 100%;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.333333%;
}

.col-2-3 {
  width: 66.666666%;
}

.col-1-4 {
  width: 25%;
}

.col-3-4 {
  width: 75%;
}

.flex {
  flex: 1 1 auto;
}

/* COLORS */

.primary {
  color: #4fb99f;
}

.accent {
  color: #112f41;
}

.success {
  color: #068587;
}

.warn {
  color: #f2b134;
}

.error {
  color: #ed553b
}

.gold {
  color: #f1c232
}

.silver {
  color: #999;
}

/* TYPOGRAPHY */

.title {
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
}

.heading {
  font-weight: 900;
  font-size: 13px;
  text-align: left;
  text-transform: uppercase;
}

.bold {
  font-weight: 900 !important;
}

.t-sm {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.t-xs {
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {

  .col-l {
    width: 100%;
  }

  .col-1-2l {
    width: 50%;
  }

  .col-1-3l {
    width: 33.333333%;
  }

  .col-2-3l {
    width: 66.666666%;
  }

  .col-1-4l {
    width: 25%;
  }

  .col-3-4l {
    width: 75%;
  }

  .hide-l {
    display: none;
  }

  #header {
    background-color: #fff;
    color: #112f41;
  }

  #header .branding {
    text-align: left;
  }

}

@media only screen and (max-width: 767px) {
  .col-m {
    width: 100%;
  }

  .col-1-2m {
    width: 50%;
  }

  .col-1-3m {
    width: 33.333333%;
  }

  .col-2-3m {
    width: 66.666666%;
  }

  .col-1-4m {
    width: 25%;
  }

  .col-3-4m {
    width: 75%;
  }

  .hide-m {
    display: none;
  }
}
